---
import BackgroundAnimated from "../components/BackgroundAnimated.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Header active="Contact" />
  <BackgroundAnimated />
  <div class="container z-10 w-[50%] mx-auto my-5 text-code">
    <form
      target="_blank"
      action="https://formsubmit.co/e9fe2f863e2774b16066d8c2c7c1425f"
      method="POST"
    >
      <svg
        class="fill-[--complementary] size-20"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
        ></path></svg
      >

      <h1 class="text-3xl my-8">Contáctame</h1>

      <input type="text" name="name" placeholder="Ingresa tu nombre" required />

      <input
        type="email"
        name="email"
        placeholder="Ingresa tu email"
        required
      />

      <textarea
        name="message"
        placeholder="Ingresa tu mensaje"
        rows="2"
        required></textarea>

      <button type="submit" class="my-10">Enviar</button>
      <input
        type="hidden"
        name="_next"
        value="https://formsubmit.co/live-demo"
      />
    </form>
  </div>
</Layout>

<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    /* -webkit-box-shadow: -3px 2px 20px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -3px 2px 20px -1px rgba(0, 0, 0, 0.6);
    box-shadow: -3px 2px 20px -1px rgba(0, 0, 0, 0.6); */
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
  }

  form > div {
    width: 80%;
  }

  input,
  textarea {
    width: 100%;
    padding: 15px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    transition: all 0.3s;
    font-weight: 500;
    resize: none;
  }

  form input:first-child {
    margin-top: 40px;
  }

  button {
    width: 50%;
    background-color: var(--complementary);
    color: var(--bg-body);
    padding: 15px;
    border-radius: 2px;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border-color: var(--complementary);
  }

  svg {
    position: absolute;
    top: -40px;
  }
</style>
