---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[--bg-body]">
    <main
      class="container m-5 mx-auto p-5 pt-14 bg-[--bg-main] rounded-md shadow-md flex flex-col"
    >
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --bg-body: #1d2835;
    --bg-main: #232c38;
    --complementary: #f7ad20;
    --white: #f5f7fa;
  }

  @font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/SourceCodePro-Regular.ttf");
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .text-code {
    font-family: "Source Code Pro";
  }

  html {
    color-scheme: dark light;
  }

  main {
    height: calc(100vh - 40px);
    position: relative;
    z-index: 999;
  }
</style>
